# don't upload config file



#.  传到生产git

#nodejs库
#node_modules/

#资源文件
#src/

#缓存
#runtime/

#配置文件
#web/common/conf/config.php

#.gitignore

#gulpfile.js

#package-lock.json  



#.  传到开发git

#nodejs库
node_modules/

#缓存
runtime/

#配置文件
web/common/conf/config.php