<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_jrxuv59w769lik9.css">
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul>
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="#"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide"></div>
		</div>
		<div class="quick-link r">
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">知识产权专家顾问</a>
		</div>
	</div>
</div>

<div class="pay-page wid1200">
	<div class="orderConfirm">
		<span>订单确认</span>
	</div>
	<form id="addOrder">
		<input type="hidden" name="">
		<div class="pay-info">
			<table class="table pay-table text-c" cellspacing="0">
	            <tbody>
	            	<tr>
		            	<td>
		            		<div class="info-inner clearfix">
		            			<div class="img l">
		            				<img src="" title="标样">
		            			</div>
		            			<div class="info-mail l">
		            				<div class="main clearfix">
			            				<span class="tit">商标名称</span>
			            				<span class="main-text">这里是购买具体商标名称的列表</span>
			            				<span class="tit">申请人</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix mid">
			            				<span class="tit">申请人地址</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">注册类别</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix">
			            				<span class="tit">商品/服务项</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">联系电话</span>
			            				<span class="main-text"><br></span>
			            			</div>
		            			</div>
		            		</div>
		            	</td>
	            	</tr>
	            	<tr>
		            	<td>
		            		<div class="info-inner clearfix">
		            			<div class="img l">
		            				<img src="" title="标样">
		            			</div>
		            			<div class="info-mail l">
		            				<div class="main clearfix">
			            				<span class="tit">商标名称</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">申请人</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix mid">
			            				<span class="tit">申请人地址</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">注册类别</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix">
			            				<span class="tit">商品/服务项</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">联系电话</span>
			            				<span class="main-text"><br></span>
			            			</div>
		            			</div>
		            		</div>
		            	</td>
	            	</tr>
	            	<tr>
		            	<td>
		            		<div class="info-inner clearfix">
		            			<div class="img l">
		            				<img src="" title="标样">
		            			</div>
		            			<div class="info-mail l">
		            				<div class="main clearfix">
			            				<span class="tit">商标名称</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">申请人</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix mid">
			            				<span class="tit">申请人地址</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">注册类别</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix">
			            				<span class="tit">商品/服务项</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">联系电话</span>
			            				<span class="main-text"><br></span>
			            			</div>
		            			</div>
		            		</div>
		            	</td>
	            	</tr>
	            </tbody>
	        </table>

	        <table class="table pay-table text-c" cellspacing="0">
	            <tbody>
	            	<tr>
		            	<td>
		            		<div class="info-inner clearfix">
		            			<div class="img l">
		            				<img src="" title="标样">
		            			</div>
		            			<div class="info-mail l">
		            				<div class="main clearfix">
			            				<span class="tit">商标名称</span>
			            				<span class="main-text">这里是只购买了具体某个业务，如：购买一个“商标转让”商品</span>
			            				<span class="tit">申请人</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix mid">
			            				<span class="tit">申请人地址</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">注册类别</span>
			            				<span class="main-text"><br></span>
			            			</div>
			            			<div class="main clearfix">
			            				<span class="tit">商品/服务项</span>
			            				<span class="main-text"><br></span>
			            				<span class="tit">联系电话</span>
			            				<span class="main-text"><br></span>
			            			</div>
		            			</div>
		            		</div>
		            	</td>
	            	</tr>
	            </tbody>
	        </table>
		</div>
		<div class="total text-r">
			<p>商标注册：300元 x 5件</p>
			<p><b><font color="red">¥ 500</font></b></p>
		</div>
		<div class="confirmBtn clearfix">
			<a href="javascript:orderDetail.addToOrder();"><div class="tit r">确认订单</div></a>
		</div>
	</form>
</div>

<div class="full">
    <div class="wid1200 bor_top_1px">
    	<div class="reputation clearfix">
    		<div class="lists img1 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    		<div class="lists img2 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    		<div class="lists img3 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    	</div>
        <div class="footer text-c">
            <p>备案信息</p>
        </div>
    </div>
</div>

<script>

var orderDetail = {

	addToOrder : function(){
		$.post('__CONTROLLER__/addToOrder',$('#addOrder').serialize(),function(data){
			console.log(data);
			if(data.state == 200){
				window.location.href=data.url;
			}else{
				console.log(data);
			}
		});
	},

	load : function(){},
}

</script>

</body>
</html>