<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_jrxuv59w769lik9.css">
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul>
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="#"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide"></div>
		</div>
		<div class="quick-link r">
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">知识产权专家顾问</a>
		</div>
	</div>
</div>

<div class="pay-page wid1200">
	<div class="pay-header text-r">
		<span>合同号：123123123</span>
		<span>下单时间：2017-12-12</span>
	</div>
	<div class="pay-success">
		<p class="tit">您的订单提交成功</p>
		<p class="number">订单号：1231231231</p>
	</div>
	<div class="pay-info">
		
	<div class="pay-type">
		<div class="tit">支付方式</div>
		<div class="type">
			<div class="payMoney">
				应支付金额：<b><font color="red">1500</font></b>元
			</div>
			<div class="type-list">
				<div class="radio-type">
					<label for="alipay">
						<input type="radio" name="paytype" value="alipay"> 支付宝
					</label>
				</div>
				<div class="radio-type">
					<label for="alipay">
						<input type="radio" name="paytype" value="wxpay"> 微信
					</label>
				</div>
				<div class="radio-type">
					<label for="card">
						<input type="radio" name="paytype" value="card"> 银行卡
					</label>
				</div>
			</div>
			<div class="topay alipay">
				<div class="logo">
					<img src="__PUBLIC__/home/img/alipay-logo.jpg" title="alipay" height="80">
				</div>
				<div class="pay-botton text-r">
					<a href="javascript:payIndex.payNow();" id="pay-botton">立即支付</a>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="full">
    <div class="wid1200 bor_top_1px">
    	<div class="reputation clearfix">
    		<div class="lists img1 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    		<div class="lists img2 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    		<div class="lists img3 l">
    			<p>支付安全</p>
    			<span>明码标价支付及信息安全</span>
    		</div>
    	</div>
        <div class="footer text-c">
            <p>备案信息</p>
        </div>
    </div>
</div>


<script>

var payIndex = {

	payNow : function(){
		window.location.href='__MODULE__/Member/index';
	},

	load : function(){},
}

</script>

</body>
</html>