<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_9yxm5gf37m0zr529.css">
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul>
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="__APP__"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide"></div>
		</div>
		<div class="quick-link r">
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">首页</a>
			<a href="#">知识产权专家顾问</a>
		</div>
	</div>
</div>

<div class="wid1200">
	<div class="detail clearfix">
		<div class="cates l">
			<h3 class="top-tit">相关产品推荐</h3>
			<div class="cate-list">
				<div class="list-inner">
					<div class="big-tit"><i class="iconfont"></i><span class="tit">国内商标</span></div>
					<div class="child-two">
						<a href="#" title="">商标快速注册</a>
						<a href="#" title="">商标快速注册</a>
					</div>
				</div>
				<div class="list-inner">
					<div class="big-tit"><i class="iconfont"></i><span class="tit">国内商标</span></div>
					<div class="child-two">
						<a href="#" title="">商标快速注册</a>
						<a href="#" title="">商标快速注册</a>
					</div>
				</div>
				<div class="list-inner">
					<div class="big-tit"><i class="iconfont"></i><span class="tit">国内商标</span></div>
					<div class="child-two">
						<a href="#" title="">商标快速注册</a>
						<a href="#" title="">商标快速注册</a>
					</div>
				</div>
				<div class="list-inner">
					<div class="big-tit"><i class="iconfont"></i><span class="tit">国内商标</span></div>
					<div class="child-two">
						<a href="#" title="">商标快速注册</a>
						<a href="#" title="">商标快速注册</a>
					</div>
				</div>
			</div>
		</div>
		<div class="detail-all r">
			<div class="product-baseinfo clearfix">
				<div class="pro-pic l">
					<img src="__PUBLIC__/home/img/productpic.jpg">
				</div>
				<form id="buyForm" action="__MODULE__/OrderDetail/confirm" method="post">
					<input type="hidden" name="id" value="1">
					<ul class="baseinfo r">
						<li><h4 class="tit">商标注册</h4></li>
						<li><p class="tips">连续四年连续四年连续四年连续四年连续四年连续四年连续四年连续四年连续四年连续四年连续四年</p></li>
						<li class="types clearfix text-c">
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
							<span class="list l">商标普通注册 <i class="iconfont icon-xiasanjiao"></i></span>
						</li>
						<li class="price">价格：<span><b>123元</b></span></li>
						<li class="other clearfix">
							<span class="l">数量：</span>
							<div class="num-box l clearfix">
								<span class="l reduce" id="reduce"><i class="iconfont icon-jian"></i></span>
								<span class="l good_nums_input"><input type="text" name="good_nums" value="1"></span>
								<span class="l add" id="add"><i class="iconfont icon-jia"></i></span>
							</div>
							<div class="btns r">
								<a href="javascript:detailIndex.chk();" class="buy_now">立即购买</a>
								<a href="#" class="add_to_car">加入购物车</a>
								<a href="#" class="need_help">详情咨询</a>
							</div>
						</li>
					</ul>
				</form>
			</div>
			<div class="detail-banner">
				<img src="__PUBLIC__/home/img/detail_banner.jpg">
			</div>
			<div class="other-product">
				
			</div>
			<div class="details-info">
				<div class="tit clearfix">
					<span class="active">服务介绍</span>
					<span>常见问题</span>
				</div>
				<div class="detail-main">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="full">
	<div class="wid1200 bor_top_1px">
		<div class="footer text-c">
			<p>备案信息</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	
$(function(){
	detailIndex.load();
});

var detailIndex = {

	chk : function(){
		if(true){
			$('#buyForm').submit();
		}
	},

	load : function(){

	},
}

</script>

</body>
</html>