<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_86bzmmbf0dl323xr.css">
</head>
<body>

<div class="full commen-header">
	<div class="quick-nav wid1200 clearfix">
		<div class="r app">
			<span>移动应用</span>
			<div class="code"><img src="__PUBLIC__/home/img/code.jpg"></div>
		</div>
		<div class="r reg">
			<span>注册</span>
			<ul>
				<li>个人注册</li>
				<li>企业注册</li>
			</ul>
		</div>
		<div class="r login">登录</div>
		<div class="r phone">客服电话：40000000000</div>
	</div>
</div>

<div class="pub-header wid1200 clearfix">
	<div class="logo-header clearfix">
		<div class="logo l">
			<a href="javascript:void(0);"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
		</div>
	</div>
	<div class="pub-navs clearfix">
		<div class="navs-list l text-c">
			<h4>全部服务分类</h4>
			<div class="nav-box hide"></div>
		</div>
		<div class="quick-link r">
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">首页</a>
			<a href="javascript:void(0);">知识产权专家顾问</a>
		</div>
	</div>
</div>

<div class="banner text-c">
	<ul>
		<a href="javascript:void(0);" title=""><li style="background:url('__PUBLIC__/home/img/banner1.jpg') center center no-repeat;">1</li></a>
		<a href="javascript:void(0);" title=""><li style="background:url('__PUBLIC__/home/img/banner1.jpg') center center no-repeat;">1</li></a>
		<a href="javascript:void(0);" title=""><li style="background:url('__PUBLIC__/home/img/banner1.jpg') center center no-repeat;">1</li></a>
	</ul>
</div>

<div class="full bgcolor_3baaf2">
	<div class="middle-quick wid1200 clearfix">
		<a href="javascript:void(0);" title="">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/bx1.jpg') center center no-repeat;">
				<p><span class="underline">商标检索</span></p>
				<p>智能方案</p>
			</div>
		</a>
		<a href="javascript:void(0);" title="">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/quicklink2.jpg') 40px center no-repeat #fff;">
				<p><span class="underline">知识产权</span></p>
				<p>在线管理</p>
			</div>
		</a>
		<a href="javascript:void(0);" title="">
			<div class="boxs l" style="background:url('__PUBLIC__/home/img/quicklink3.jpg') 40px center no-repeat #fff;">
				<p><span class="underline">知识产权</span></p>
				<p>专家顾问</p>
			</div>
		</a>
	</div>
</div>

<div class="full bgcolor_dee9ed">
	<div class="wid1200">
		<div class="china trademark_online">
			<div class="big-title text-c">
				<h4>国内商标在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="search-box">
				<div class="search-inner clearfix">
					<form id="search-box" for="">
						<input type="hidden" name="type" value="">
						<input type="text" name="keywords" class="search-input l" placeholder="输入商标名称" />
						<div class="search-select l">
							<div class="tit">模糊搜索</div>
							<div class="list">
								<span class="active" data-value="1">模糊搜索</span>
								<span data-value="2">精准搜索</span>
							</div>
						</div>
						<a href="javascript:void(0);" class="search-submit">商标查询</a>
						<i class="iconfont icon-xiaosanjiao"></i>
					</form>
				</div>
			</div>
			<div class="product_list clearfix mar_top_50">
				<div class="top-list clearfix">
					<a href="javascript:void(0);" title="">
						<div class="list-inner">
							<div class="img-out-box"><img src="__PUBLIC__/home/img/eg1.jpg"></div>
						</div>
					</a>
					<div class="list-inner mid">
						<div class="img-out-box"><img src="__PUBLIC__/home/img/eg4.jpg"></div>
					</div>
					<div class="list-inner mid">
						<div class="img-out-box"><img src="__PUBLIC__/home/img/eg4.jpg"></div>
					</div>
				</div>
				<div class="bot-list clearfix">
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
					<div class="sm list-inner text-c">
						<div class="info-product">
							<div class="pic"></div>
							<h5 class="tit">商标注册</h5>
							<span class="price">123元</span>
							<div class="info text-c">
								<div class="desc-short">
									<span>描述文字</span>
								</div>
								<div class="gotoaplay">
									<a href="javascript:void(0);" title="立即申请">立即申请</a>
								</div>
							</div>
						</div>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</div>
			</div>
			<div class="more text-c">
				<a href="javascript:void(0);"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="full home-ads1">
	<a href="javascript:void(0);">
		<img src="./dist/home/img/bannerbg.jpg">
	</a>
</div>

<div class="full">
	<div class="wid1200">
		<div class="internation trademark_online">
			<div class="big-title text-c">
				<h4>国内商标在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
		</div>
	</div>
</div>
<div class="full">
	<div class="wid1200">
		<div class="country_trademark text-c">
			<div class="country_inner clearfix">
				<div class="list">
					<a href="javascript:void(0);" title="美国注册">
						<img src="__PUBLIC__/home/img/eg3.jpg">
						<span class="tit">美国注册</span>
					</a>
				</div>
				<div class="list">
					<a href="javascript:void(0);" title="美国注册">
						<img src="__PUBLIC__/home/img/eg3.jpg">
						<span class="tit">美国注册</span>
					</a>
				</div>
				<div class="list">
					<a href="javascript:void(0);" title="美国注册">
						<img src="__PUBLIC__/home/img/eg3.jpg">
						<span class="tit">美国注册</span>
					</a>
				</div>
			</div>
		</div>
		<div class="country_buss_list clearfix text-c">
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
			<a href="javascript:void(0);" title="单独国家注册" target="_blank">
				<div class="list-inner">
					<h6 class="tit">单独国家注册</h6>
					<span class="price">1000元</span>
					<i class="iconfont icon-xiasanjiao"></i>
				</div>
			</a>
		</div>
		<div class="inter more text-c">
			<a href="javascript:void(0);"><i class="iconfont icon-combinedshape"></i></a>
		</div>
	</div>
</div>

<div class="full bgcolor_3baaf2">
	<div class="wid1200">
		<div class="patent_online text-c">
			<div class="big-title">
				<h4>国内商标在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="parent-list clearfix">
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
			</div>
			<div class="more text-c">
				<a href="javascript:void(0);"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="full">
	<div class="wid1200">
		<div class="copyright_online text-c">
			<div class="big-title">
				<h4>国内商标在线申请</h4>
				<p>这里是我们提交注册的优势这里是我们提交注册的优势</p>
			</div>
			<div class="parent-list clearfix">
				<a href="javascript:void(0);" title="" target="_blank">
					<div class="list-inner big">
						<img src="./dist/home/img/eg5.jpg">
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
				<a href="javascript:void(0);" title="单独国家注册" target="_blank">
					<div class="list-inner">
						<h6 class="tit">单独国家注册</h6>
						<span class="price">1000元</span>
						<i class="iconfont icon-xiasanjiao"></i>
					</div>
				</a>
			</div>
			<div class="more text-c">
				<a href="javascript:void(0);"><i class="iconfont icon-combinedshape"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="full">
	<div class="wid1200 bor_top_1px">
		<div class="footer text-c">
			<p>备案信息</p>
		</div>
	</div>
</div>

<style type="text/css">





</style>
</body>
</html>