<!-- bootstrap -->
<link href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!-- bootstrap end -->
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<!-- jqueryValidate -->
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
<!-- jqueryValidate end -->
<!-- jqueryConfig -->
<link href="https://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.js"></script>
<!-- jqueryConfig end -->
<link href="__PUBLIC__/admin/css/style.css?<?php echo time(); ?>" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_qacpkmxwa1bdquxr.css">