.detail{
	margin-top: 10px;
	margin-bottom: 10px;
}

.detail .cates{
	width: 228px;
	float: left;
	border: 1px solid #eeeeee;
}

.cate-list{
	padding: 10px 0;
}

.detail .cates .top-tit{
	background: #f5f5f5;
	margin-top:0;
	margin-bottom: 0;
	line-height: 40px;
	color: #656565;
	font-size: 15px;
	font-weight: 400;
	padding-left: 20px;
}

.detail .cates .list-inner{
	padding-left: 20px;
	margin-bottom: 10px;
}

.big-tit .icon{
	color: #eee;
	font-size: 13px;
}

.list-inner .child-two{
	padding-left: 20px;
}

.list-inner .child-two a{
	display: block;
	line-height: 26px;
	font-size: 12px;
}

.detail .detail-all{
	width: 960px;
}

.product-baseinfo .pro-pic{
	width: 310px;
}

.product-baseinfo .pro-pic img{
	max-width: 100%;
}

.product-baseinfo .baseinfo{
	width: 630px;
}

.product-baseinfo .baseinfo .tit{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
}

.product-baseinfo .baseinfo .tips{
	margin-top: 15px;
	margin-bottom: 20px;
}

.product-baseinfo .baseinfo .types .list{
	position: relative;
	width: 22%;
	margin-right: 2%;
	margin-bottom: 10px;
	line-height: 30px;
	display: block;
	border: 1px solid #ddd;
	overflow: hidden;
	font-size: 13px;
}

.product-baseinfo .baseinfo .types .list .iconfont{
	position: absolute;
    right: -2px;
    bottom: -1px;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    color: #ff7648;
    overflow: hidden;
}

.product-baseinfo .baseinfo .price{
	margin-top: 70px;
}

.product-baseinfo .baseinfo .price span{
	font-size: 22px;
	color: #ff7648;
	margin-left: 20px;
}

.product-baseinfo .baseinfo .other{
	margin-top: 20px;
	line-height: 37px;
}

.product-baseinfo .baseinfo .other .good_nums,.product-baseinfo .baseinfo .other .btns{
	display: inline-block;
}

.product-baseinfo .baseinfo .other .reduce{
	margin-left: 20px;
	border: 1px solid #ddd;
    padding: 0px 15px;
    cursor: pointer;
}

.product-baseinfo .baseinfo .other .add{
	border: 1px solid #ddd;
    padding: 0px 15px;
    cursor: pointer;
}

.good_nums_input input{
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    line-height: 35px;
    padding-left: 13px;
    width: 30px;
    cursor: default;
}

.good_nums_input input::focus{
	border: none;
}

.product-baseinfo .baseinfo .other .btns a{
	padding: 0 15px;
	line-height: 39px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	border-radius: 3px;
	margin-left: 15px;
}

.product-baseinfo .baseinfo .other .btns .buy_now,.product-baseinfo .baseinfo .other .btns .add_to_car{
	background: #c51722;
}

.product-baseinfo .baseinfo .other .btns .need_help{
	background: #f0ad4e;
}

.detail-all .detail-banner{
	margin-top: 50px;
	margin-bottom:20px;
}

.detail-all .detail-banner img{
	width: 100%;
	max-width: 100%;
}

.detail-all .details-info .tit{
	line-height: 60px;
	border: 1px solid #dee9ed;
}

.detail-all .details-info .tit span{
	float: left;
	display: block;
	padding: 0 40px;
	font-size: 16px;

}

.detail-all .details-info .tit span.active{
	background: #dee9ed;
}

.detail-all .details-info .detail-main {
	border-left: 1px solid #dee9ed;
	border-right: 1px solid #dee9ed;
	border-bottom: 1px solid #dee9ed;
	padding: 20px 10px;
}
































