.login-box .slct-type{
	border-bottom: 2px solid #dee9ed;
	padding-left: 230px;
	line-height: 46px;
	margin-bottom: 30px;
}

.login-box .slct-type a{
	float: left;
	font-size: 17px;
	font-weight: 400;
	padding: 0 40px;
	position: relative;
	border-bottom: 2px solid #dee9ed;
	margin-bottom: -2px;
}

.login-box .slct-type a:hover,.login-box .slct-type a.active{
	border-color:red;
}

.logbox{
	border: 1px solid #dee9ed;
}

.logbox .tit{
	background: #dee9ed;
	padding: 0 15px;
	line-height: 32px;
	font-size:12px;
}

.logbox .tit .name{
	font-size: 14px;
}

.logbox .tit .login-link{
	font-size: 12px;
	color: red;
}

.logbox .log-main{
	padding:60px 0 60px 300px;
}

.input-text-box{
	line-height: 40px;
    margin: 10px 0;
}

.input-text-box .name{
	width: 120px;
	height: 40px;
}

.input-text{
	line-height: 27px;
    border: 1px solid #bfbfbf;
    padding-left: 10px;
    width: 200px;
}

.input-text.long{
	width:400px;
}

.input-textarea{
    border: 1px solid #bfbfbf;
	width:406px;
	height:100px;
}

.input-text-box .other{
	margin-left: 15px;
}

.input-text-box .tips,.input-text-box .code span{
	font-size: 12px;
	color: #828282;
}

.input-text-box .code span{
	background: #dee9ed;
    display: inline-block;
    line-height: 29px;
    text-align: center;
    width: 120px;
    color: #333;
}

.input-text-box .reg-btn{
	width: 200px;
    color: #fff;
    background: #d00e0e;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
}

.reads {
	font-size:12px;
}

.reads a{
	color:blue;
}


.login-box .logbox-log{

	margin:30px 30px 30px 0;

	.log-bg{

		h4{
			font-size:20px;
			margin-top:16px;;
			margin-bottom:30px;
			font-weight:400;
		}

		.input-box{
			margin:12px 0;
			position:relative;

			.input-text{
				border-radius:3px;
				width: 93%;
				line-height: 34px;
			}

			.iconfont.posi{
				position:absolute;
				right: 15px;
				color: #909090;
				font-size:20px;
				top:5px;
			}

			.submit{
				color: #fff;
				font-size:15px;
				display: inline-block;
				padding:5px 40px;
				background: #3dc3e9;
				border-radius:2px;
				border:1px solid #2fb0d4;
				transition: .2s;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.submit:hover{
				background:#2ab3da;
			}
		}


		.kefu{
			font-size:12px;
			line-height: 24px;
			position:relative;
			margin-top: 20px;

			.iconfont{
				color: #909090;
				font-size:24px;
				position:absolute;
				right: 50px;
				top: 0;
				color:#2f2f2f;
			}
		}

		.quick-log {
			.list{
				width: 33.3%;
				position:relative;
				cursor:point;

				span{
					font-size:12px;
					color: #696969;
				}

				.iconfont{
					position:absolute;
					left: 0;
					font-size:22px;
					top:-3px;
				}

			}

			.qqlog{
				span{
					margin-left: 26px;
				}
				.iconfont{
					color: #67bde7;
				}
			}

			.wechat{
				span{
					margin-left: 24px;
				}
				.iconfont{
					left: 4px;
					color: #90da6b;
				}
			}

			.weibo{
				.iconfont{
					left: 10px;
					color: #fe8b8b;
				}
			}
		}

		.quick-log .qqlog,.quick-log .wechat,.quick-log .weibo{
		}

		background:url('../img/login-bg.png') left top no-repeat;
		width: 260px;
    	padding: 20px 50px 54px;
	}
}

.reg-new-v1{
	background:#dee9ed;

	.container{
		
		width: 1200px;
		margin: 0 auto;

		.logo-reg{
			margin-top: 10%;
		}
		
		.reg-box{
			
			.error-info{
			    padding: 20px;
			    margin: 20px 0;
			    border: 1px solid #eee;
			    border-radius: 3px;
    			border-left: 5px solid #ce4844;
    			width: 400px;
				margin:0 auto;

			    h4{
			    	color: #ce4844;
			    	margin-top: 0;
    				margin-bottom: 5px;
			    }
			}

			background:#fff;
			padding: 60px 0;

			.box-inner{
				width: 400px;
				margin:0 auto;

				.input-box{
						
					margin:15px 0;

					.input-box-inner{
						position:relative;

						.input-text{
						    width: 400px;
						    height: 36px;
						    line-height: 38px;
						    border: 1px solid #ddd;
						    padding-left: 42px;
						}

						.iconfont{
							position:absolute;
							left:10px;
							top: 5px;
							color: #858585;
							font-size:22px;
						}

						.submit{
							width: 100%;
							line-height: 40px;
							height: 40px;
							background: #3baaf2;
							color: #fff;
							border:none;
							font-size:16px;
							cursor: pointer;
							transition: .2s;
						}
					}
				}

				.code{
					.input-box-inner{

						.input-text{
							width:205px;
						}
					}
					.sendcode{
						width: 135px;
						margin-left: 15px;
						line-height: 40px;
						cursor: pointer;
						background:#3baaf2;
						text-align: center;

						span{
							display: block;
							color: #fff;
						}
					}
				}

			}

			.tologin{
				width: 400px;
				margin:0 auto;

				.forget{
					float: left;
				}
			}
		}
	}
}

.reg-success{
	.container{
		width: 1200px;
		margin:0 auto;

		.logo-reg{
			margin-top: 10px;
		}

		.reg-success{
			margin-top: 100px;
			
			.success-info{
				font-size:20px;
				color: #f68e3a;
				margin-bottom: 50px;

				.iconfont{
					font-size:60px;
					color:green;
				}
			}

			p{
				a{
					color: #3b90d1;
				}
			}

			.login{
				display: inline-block;
				background:#3b90d1;
				color: #fff;
				padding:8px 20px;
				font-size:16px;
				margin-top: 25px;
			}
				
		}
	}
}






























