<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_i9dc7cn28dkotj4i.css">
</head>
<body class="member-index">

<div class="full bgcolor_3baaf2">
	<div class="pub-header wid1200 clearfix">
		<div class="logo-header clearfix">
			<div class="logo l">
				<a href="/"><img src="__PUBLIC__/home/img/logo.png" title="百一知识产权"></a>
			</div>
			<div class="quick-link l">
				<a href="#">首页</a>
				<a href="#">首页</a>
				<a href="#">首页</a>
				<a href="#">首页</a>
				<a href="#">首页</a>
				<a href="#">首页</a>
				<a href="#">知识产权专家顾问</a>
			</div>
		</div>
	</div>
</div>

<div class="member-index wid1200 clearfix">
	<div class="search text-r">
        <div class="dis_inline">
			<form action="" method="get" id="search-form">
	        	<div class="input-search l">
	                <input type="text" class="input-text" placeholder="请输入合同号/订单号">
	            </div>
	            <div class="submit l">
	                <a href="javascript:;" id="search-submit"><i class="iconfont icon-sousuo"></i></a>
	            </div>
        	</form>
        </div>
	</div>
	<div class="main-inner clearfix">
		<include file='Public/memLeftMenu' />
		<div class="main r">
			<div class="main-list">
				<div class="tit big clearfix">
					<span class="l left">公司主体</span>
					<span class="l mid">联系人</span>
					<span class="l mid">专属顾问</span>
				</div>
				<div class="cpn-info">
					<span class="l left">我是测试公司名称</span>
					<span class="l mid">我是姓名联系人</span>
					<span class="l mid"><i class="iconfont icon-kefu-copy"></i>我是专属顾问</span>
				</div>
				<div class="tit clearfix">
					<span class="l left">订单详情</span>
					<span class="l mid">合同号</span>
				</div>
				<div class="order-box">
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l mid">
							<span>1900.00</span>
							<span class="status">已付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l last">
							<a href="javascript:void(0);" id="viewarticle" class="viewarticle">《查看官文》</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
				</div>
			</div>
			<div class="main-list">
				<div class="tit clearfix">
					<span class="l left">公司主体</span>
					<span class="l mid">联系人</span>
					<span class="l mid">专属顾问</span>
				</div>
				<div class="cpn-info">
					<span class="l left">我是测试公司名称</span>
					<span class="l mid">我是姓名联系人</span>
					<span class="l mid"><i class="iconfont icon-kefu-copy"></i>我是专属顾问</span>
				</div>
				<div class="tit clearfix">
					<span class="l left">订单详情</span>
					<span class="l mid">合同号</span>
				</div>
				<div class="order-box">
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l mid">
							<span>1900.00</span>
							<span class="status">已付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l last">
							<a href="javascript:void(0);" id="viewarticle" class="viewarticle">《查看官文》</a>
						</div>
					</div>
					<div class="order-list-main clearfix">
						<div class="list-inners l left">
							<p>商标保障申请</p>
							<span>订单编号：123123123</span>
							<span>合同编号：BY201712120325</span>
							<span>下单时间：2012-12-12</span>
						</div>
						<div class="pay-moneys text-c l no mid">
							<span>1900.00</span>
							<span class="status">未付款</span>
						</div>
						<div class="order-num text-c l mid">
							<span>合同确认</span>
						</div>
						<div class="editor text-c l no last">
							<a href="javascript:void(0);" id="del-order">删除订单</a>
							<a href="javascript:void(0);" id="to-pay" class="to-pay">立即支付</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="full">
	<div class="wid1200 bor_top_1px">
		<div class="reputation clearfix">
			<div class="lists img1 l">
				<p>支付安全</p>
				<span>明码标价支付及信息安全</span>
			</div>
			<div class="lists img2 l">
				<p>支付安全</p>
				<span>明码标价支付及信息安全</span>
			</div>
			<div class="lists img3 l">
				<p>支付安全</p>
				<span>明码标价支付及信息安全</span>
			</div>
		</div>
		<div class="footer text-c">
			<p>备案信息</p>
		</div>
	</div>
</div>

</body>
</html>