<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>百一知识产权</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css?<?php echo time(); ?>">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css?<?php echo time(); ?>">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_jrxuv59w769lik9.css">
    <!-- bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap end -->
    <!-- jqueryValidate -->
	<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/localization/messages_zh.min.js"></script>
	<!-- jqueryValidate end -->
	<!-- jqueryConfig -->
	<script src="https://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.js"></script>
	<link href="https://cdn.bootcss.com/jquery-confirm/3.0.3/jquery-confirm.min.css" rel="stylesheet">
	<!-- jqueryConfig end -->
</head>
<body class="reg-new-v1">

<div class="container">
	<div class="logo-reg text-c">
		<a href="__APP__" title=""><img src="__PUBLIC__/home/img/logo.png" alt=""></a>
	</div>
	<div class="reg-box">
		<form action="" method="post" id="reg-form">
			<div class="error-info" style="display:none">
				<h4>验证不通过，请修改以下错误</h4>
				<p></p>
			</div>
			<div class="box-inner">
				<div class="input-box">
					<div class="input-box-inner">
						<input type="text" class="input-text" name="phone" id="phone" placeholder="请输入手机号" minlength="11" maxlength="11">
						<i class="iconfont icon-shouji1"></i>
					</div>
				</div>
				<div class="input-box">
					<div class="input-box-inner">
						<input type="text" class="input-text" name="paswd" id="paswd" minlength="6" maxlength="20" placeholder="请输入密码">
						<i class="iconfont icon-mima"></i>
					</div>
				</div>
				<div class="input-box">
					<div class="input-box-inner">
						<input type="submit" class="submit" value="登 录">
					</div>
				</div>
			</div>
			<div class="tologin text-r">
				<a href="__CONTROLLER__/forget" class="forget">忘记密码？</a>还没账号？<a href="__CONTROLLER__/reg">立即注册</a>>
			</div>
		</form>
	</div>
</div>

<script>
var container = $('#reg-form .error-info');	

$('#reg-form').validate({
	rules:{
		phone:{
			required:true,
			number:true,
			minlength:11,
			maxlength:11,
			remote:{
				type:"POST",  
				url:"__CONTROLLER__/chkPhone", //请求地址  
				data:{  
					phone:function(){ return $("#phone").val(); }  
				},
				dataType: "html",
                dataFilter: function(data, type) {
                	console.log(data);
                    if(data == true){
                        return false;
                    }else{
                        return true;
                    }
                }
			}
		},
		paswd:{
			required:true,
			minlength:6,
			maxlength:20,
		},
	},
	messages:{
		phone:{
			required:'请输入手机号、',
			number:'手机号格式错误、',
			minlength:'手机号位数不正确、',
			maxlength:'手机号位数不正确、',
			remote:'该手机号未注册',
		},
		paswd:{
			required:'请输入密码、',
			minlength:'密码最少6位',
			maxlength:'密码最多20位',
		},
	},
	errorContainer: container,
	errorLabelContainer: $("p", container),
	wrapper: 'span',
	submitHandler: function() {
		$.ajax({
			type:'POST',
			url:'__CONTROLLER__/ajaxLogin',
			data:$('#reg-form').serialize(),
			dataType:'json',
			success:function(data){
				console.log(data);
				if(data.state == 200){
					$('.input-box-inner .submit').css('background','green').attr('value','登陆成功');
					setTimeout(function(){
						window.location.href=data.url;
					},1500);
				}else{
					$.alert(data.msg);
				}
			}
		});
    }
});





</script>

</body>
</html>