<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta name="description" content="描述">
	<meta name="keywords" content="关键字">
	<title>{$web_name}</title>
	<!-- 公共css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/global.css">
    <!-- index -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_486719_jrxuv59w769lik9.css">
</head>
<body class="reg-success">

<div class="container">
	<div class="logo-reg">
		<a href="__APP__" title=""><img src="__PUBLIC__/home/img/logo.png" alt=""></a>
	</div>
	<div class="reg-success text-c">
		<p class="success-info"><i class="iconfont icon-duigou"></i>恭喜您完成注册！</p>
		<p>尊敬的用户，您已注册####平台，请<a href="__CONTROLLER__/login">点击登录</a>！</p>
		<a href="__CONTROLLER__/login" title="登录" class="login"> 立即登录 </a>
	</div>
</div>
<script>



</script>
</body>
</html>