<div class="menu l text-c">
	<div class="face">
		<div class="img">
			<img src="__PUBLIC__/home/img/face128x128.jpg" />
		</div>
		<div class="name">
			<a href="javascript:void(0);" title="我是名字">Hi，<span>我是名字</span></a>
		</div>
	</div>
	<div class="order-list">
		<div class="tit">订单中心</div>
		<ul>
			<a href="__CONTROLLER__/index"><li class="<?php echo ACTION_NAME=='index'?'active':''; ?>">我的订单</li></a>
			<a href="__CONTROLLER__/guanwen"><li class="last <?php echo ACTION_NAME=='guanwen'?'active':''; ?>">官文下载</li></a>
		</ul>
	</div>
	<div class="option">
		<div class="tit">设置</div>
		<ul>
			<a href="javascript:void(0);"><li class="<?php echo ACTION_NAME=='index'?'active':''; ?>">基本信息</li></a>
			<a href="javascript:void(0);"><li class="last <?php echo ACTION_NAME=='index'?'active':''; ?>">主体信息</li></a>
		</ul>
	</div>
</div>
